<div class="row">
    <div class="col-6">
        <app-donut title="Chocolate Sales" [fields]="labels1" [dataValues]="data1" [colors]="colors1"></app-donut>
    </div>

    <div class="col-6">
        <app-donut title="Clothes Sales" [fields]="labels2" [dataValues]="data2" [colors]="colors2"></app-donut>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-donut title="Drinks Sales" [fields]="labels3" [dataValues]="data3" [colors]="colors3"></app-donut>
    </div>

    <div class="col-6">
        <app-donut title="Social Media Sales" [fields]="labels4" [dataValues]="data4" [colors]="colors4"></app-donut>
    </div>
</div>
